.main {
    border: 1px solid black;
    text-align: center;
    align-content: center;
    background-color: blueviolet;
    padding: 15px 0 25px 0;
}
.head {
    border: 1px solid yellow;
    text-align: center;
    align-content: center;
    background-color: aqua;
    font-size: 44px;
}
.card {
    text-align: center;
    align-content: center;
    margin: 0 auto;
}
body {
    background-color: black;
}
.score {
    display: inline-flex;
    align-items: center;
    background-color: burlywood;
    
}