.ultra {
    width: 140px;
    height: auto;
    
}
.mc:hover {
    background-color: #7a1616;
}
.mc {
    background-color: #e55b00;
}
.main {
    border: 1px solid black;
    text-align: center;
    align-content: center;
    background-color: black;
    padding: 15px 0 25px 0;
}
.head {
    
    text-align: center;
    align-content: center;
    background-color: black;
    font-size: 36px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.card {
    text-align: center;
    align-content: center;
    margin: 0 auto;
}
body {
    background-color: black;
}
.score {
    display: inline-flex;
    align-items: center;
    background-color: burlywood;
    
}
.buttons_score {

    text-align: center;
    align-content: center;
    margin: 0 auto;
}
#pAnswer {
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
}
.progress {
    margin: 20px 0 0 0;
}
#scoreTracker {
    color: white;
    background-color: aqua;
}